body
{
background:#0f172a;
color:white;
margin:0px;
}
#navbar
{
text-align:center;
padding:15px;
background:#020617;
color:white;
position:sticky;
top:0;
}
a
{
margin-right:120px;
font-weight:bolder;
text-decoration:none;
text-transform:capitalize;
color:white;
transition:0.3s;
}
a:hover
{
background:yellow;
}
section
{
padding:40px;
text-align:center;
background:#111827;
}
#home
{
height:10vh;
padding:80px 20px;
text-transform:capitalize;
}
ul
{
list-style:none;
padding:0;
}
li
{
margin:10px 0;
}
#service
{
text-transform:capitalize;
font-weight:bold;
}
#about-me
{
text-transform:capitalize;
}
#skill
{
text-transform:capitalize;
}
#contact
{
color:white;
padding:10px 15px;
text-decoration:none;
border-radious:5px;
margin:10px;
text-transform:capitalize;
align-items:center;
}
#contact-links
{
display:flex;
justify-content:center;
align-items:center;
gap:30px;
}
css
  @media (max-width:600px)
{
  .contact-container
  {
    flex-direction:column;
    text-alighn:center;
  }
}




  
  
